
### config for graylog-cli
### ~/.config/graylog.toml

[GraylogEndpoint]
	[GraylogEndpoint.dev2]
		url ="https://mylog-dev.eu-central-1.graylog.com"
		user-token = "my_graylog_token"

	[GraylogEndpoint.stg2]
		url="https://mylog-stg.eu-central-1.graylog.com"
		user-token="my_graylog_token"

	[GraylogEndpoint.ppd2]
		url="https://mylog-ppd.eu-central-1.graylog.com"
		user-token="my_graylog_token"

	[GraylogEndpoint.spc-eu]
		url="https://mylog.eu-central-1.graylog.com"
		user-token="my_graylog_token"

	[GraylogEndpoint.spc-kr]
		url="https://mylog.ap-northeast-1.graylog.com"
		user-token="my_graylog_token"

	[GraylogEndpoint.spc-sg]
		url="https://mylog.ap-southeast-1.graylog.com"
		user-token="my_graylog_token"

	[GraylogEndpoint.spc-us]
		url="https://mylog.us-east-1.graylog.com"
		user-token="my_graylog_token"


